.env
setup.sql
conf/traefik2/acme/acme.json
conf/traefik2/logs/access.log
conf/traefik2/logs/traefik.log
mysql-data/**
conf/.htpasswd
.vagrant*
bin
docker/docker
.*.swp
a.out
*.orig
build_src
.flymake*
.idea
.DS_Store
docs/_build
docs/_static
docs/_templates
.gopath/
.dotcloud
*.test
bundles/
.hg/
.git/
vendor/pkg/
pyenv
Vagrantfile
.env
mysql-data*